<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:component-scan base-package="Server.*" />
	<!--  
	<context:component-scan base-package="Dao.*" />
	<context:component-scan base-package="Dao_Interface.*" />
	<context:component-scan base-package="Action.*" />
    -->
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
      <property name="url" value="jdbc:mysql://localhost:3306/jboa"></property>
      <property name="username" value="root"></property>
      <property name="password" value="admin"></property>
    </bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="dataSource" ref="dataSource"/> 
		<property name="mappingResources">
          <list>
            <value>Account.hbm.xml</value>
            <value>Check_Result.hbm.xml</value>
            <value>Department.hbm.xml</value>
            <value>Employee.hbm.xml</value>
            <value>Position.hbm.xml</value>
            <value>Voucher_Detail.hbm.xml</value>
            <value>Voucher.hbm.xml</value>
          </list>
        </property>
	</bean>
	
	<bean id="BaseDao" class="Dao.BaseDao">
      <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean class="Dao.Check_ResultDaoImpl" parent="BaseDao"></bean>
	
	<bean class="Dao.EmployeeDaoImpl" parent="BaseDao"></bean>
	
	<bean class="Dao.VoucherDaoImpl" parent="BaseDao"></bean>
	
	<bean class="Dao.Voucher_DetailDaoImpl" parent="BaseDao"></bean>
	
	<bean class="Server.Check_ResultServerImpl"></bean>
	
	<bean class="Server.EmployeeServerImpl"></bean>
	
	<bean class="Server.VoucherServerImpl"></bean>
	
	<bean class="Server.Voucher_DetailServerImpl"></bean>
	
	<bean id="employeeAction" class="Action.EmployeeActionImpl" scope="prototype"></bean>
	
	<bean class="Action.VoucherActionImpl" scope="prototype"></bean>
	
	<bean class="Action.Check_ResultActionImpl"></bean>
	
	<bean id="log" class="Log.Log"></bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<tx:advice transaction-manager="transactionManager" id="txAdvice"> 
	    <tx:attributes>
	        <tx:method name="query*" read-only="true" propagation="REQUIRED"/>
	        <tx:method name="get*" read-only="true" propagation="REQUIRED"/>
	        <tx:method name="add*" propagation="REQUIRED"/>
	        <tx:method name="modify*" propagation="REQUIRED"/>
	        <tx:method name="change*" propagation="REQUIRED"/>
	        <tx:method name="delete*" propagation="REQUIRED"/>
	    </tx:attributes>
	</tx:advice>
	
	<aop:config>
	    <aop:pointcut expression="execution(* Server.*.*(..))" id="serverMethod"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="serverMethod"/>
	    
	    <aop:aspect ref="log">
	      <aop:pointcut expression="execution(* Server.VoucherServerImpl.changeVoucherStatus(..))" id="checkMethod"/>
	      <aop:after method="changeVoucherStatusLog" pointcut-ref="checkMethod"/>
	    </aop:aspect>  
	<!--      
	</aop:config>    

    <aop:config>
	-->
	</aop:config>
	
</beans>